
<form name="FMAIN1" action="" method="POST">
    <div id="set_option"><table valign="top" align="center" width="100%" border="0"><tbody><tr><td align="right">產品編號：</td><td align="left"><input type="text" id="D00" name="D00" and="" value="">&nbsp;&nbsp;</td><td align="right">客戶產品編號：</td><td align="left"><input type="text" id="D01" name="D01" and="" value="">&nbsp;&nbsp;</td><td align="right">歷史庫存日期：</td><td align="left"><input type="text" id="D02" name="D02" and="" value="">&nbsp;&nbsp;</td></tr></tbody></table>







    </div>
    <center>
        <input type="checkbox" class="checkbox-1" id="DETAIL">歷史庫存查詢
    </center>
    <table valign="top" align="center" width="100%" border="0">
        <tbody><tr>
            <td>
                <input name="SUBMIT" type="SUBMIT" value="查詢">
                <input name="RESET" type="RESET" value="清除">
                <input type="hidden" id="option_id" name="option_id" value="133,134,135







">
                <input type="hidden" name="HTML_TYPE" id="HTML_TYPE">
                <input type="HIDDEN" id="notFirst" name="notFirst" value="Y">
            </td>
        </tr>
        </tbody></table>
</form>

<div class="col-xl-12 col-md-12">
    <div class="card table-card">
        <div class="card-header">
            <h5>[AA001] 庫存報表</h5>
<!--            <button type="button" class="btn btn-primary btn-sm btn-lg" data-toggle="modal" data-target="#myModal">-->
<!--                表單搜尋-->
<!--            </button>-->
            <div class="card-header-right">
                <div class="btn-group card-option">
                </div>
            </div>
        </div>
    </div>


    <div id="dyForm"></div>


<!--    <button id="AddRow">AddRow</button>-->

    <div class="row">
        <div class="col-xl-12">
            <div id="listmodeule_table">
sdfsdfsd
                <div>
                    <form action="">
                        <input type="text">
                    </form>
                </div>

            </div>
        </div>
    </div>

</div>
<script>
    console.log("AA001 scrit")
    // alert("AA001 script");
</script>
